vti_encoding:SR|utf8-nl
vti_author:SR|DELL\\lri
vti_modifiedby:SR|DELL\\lri
vti_timelastmodified:TR|24 Feb 2010 11:00:40 -0000
vti_timecreated:TR|24 Feb 2010 11:00:40 -0000
vti_cacheddtm:TX|24 Feb 2010 11:00:40 -0000
vti_filesize:IR|1256
vti_cachedlinkinfo:VX|S|echbanr.gif S|echrule.gif S|echbul1.gif S|echbul2.gif S|echbul3.gif S|echhsel.gif S|echhbtn.gif S|echvsel.gif S|echvbtn.gif S|echhom.gif S|echup.gif S|echbck.gif S|echnxt.gif S|echbul1.gif S|echbul2.gif S|echbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/echo/echbanr.gif FSUS|_themes/echo/echrule.gif FSUS|_themes/echo/echbul1.gif FSUS|_themes/echo/echbul2.gif FSUS|_themes/echo/echbul3.gif FSUS|_themes/echo/echhsel.gif FSUS|_themes/echo/echhbtn.gif FSUS|_themes/echo/echvsel.gif FSUS|_themes/echo/echvbtn.gif FSUS|_themes/echo/echhom.gif FSUS|_themes/echo/echup.gif FSUS|_themes/echo/echbck.gif FSUS|_themes/echo/echnxt.gif FSUS|_themes/echo/echbul1.gif FSUS|_themes/echo/echbul2.gif FSUS|_themes/echo/echbul3.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
